/* Alapok */
body {
    background: #f0950d;
    margin:0;
    padding:0;
}

header{
    background-color: #be7a12;
    height: 4em;
    line-height: 4em;
    text-align: center;
}

nav.menu{
    list-style-type: none;
}
nav.menu ul li {
    display: inline-block
}

h1 {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:200px ;
    text-align: left;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
h2,h4,p,ol,ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:200px ;
}

footer {
    clear: both;
}
nav {
    float:right
}
nav.top{
    float:left
}

/* Főoldal oldal - index */

img.index-portre{
    display: inline-block;
    width: 25%;
    margin:5%;
}

div.property-box {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    background-color: #f0ba0b;
    text-align: center;
    height: 5em;
    line-height: 2 em;
    color: rgb(10, 3, 102);
    border-radius: 3px;
    border: solid 1px rgb(10, 3, 102);
    box-shadow: 0 0 3px black
}

/* Munkássága - works*/
img.works {
    width:25%;
    margin-right:2%
}
div.works-text{
    width:70%;
    display:inline-block;
    vertical-align: top;
}

/*Képgaléria - gallery */
img.gallery{ 
    display:inline-block; 
    box-shadow: 3px 3px 7px black; 
    width:350px; 
    height:350px; 
}

/*Életrajza - about*/
img.about{display:inline-block; box-shadow: 3px, 3px, 7px, black; max-width:400px; max-height:400px;}

form {
    width:80%;
    border: 3px solid darkblue;
    padding:50px;
    margin: 20px;
    text-align: left;
}
form button {
    display: inline-block;
    width: 40%;
    border: 1px solid;
    padding: 0;
    margin: 0 4% 0 4%;
}
input{
    display: inline-block;
    width: 40%;
    border: 1px solid;
    padding: 0;
    margin: 0 4% 0 4%;
}
form label{
    display: inline-block;
    width: 40%;
    border: 1px solid;
    text-align: center;
    padding: 0;
    margin: 0 4% 0 4%;
}
form textarea{
    display: inline-block;
    width: 40%;
    border: 1px solid;
    padding: 0;
    margin: 0 4% 0 4%;
}

@media screen and (max-width: 600px) {
    div {
      width: 100%
    }
    .gallery-pictures img{
        widows: 100%;
        margin-right:0;
        margin-left: 0;
    }
  }